#sideBar {
    float: left;
    width: 15%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 1.2;
}

.category-bar {
    width: 75%;
    margin: 0 2% 0 2%;

}

.category-title {
    font-size: 1.2em;
}

.note {
    text-decoration: underline;
    text-decoration-color: #5cb3fd;
    color: #FFFFFD;
    background-color: transparent;
    -webkit-appearance: default-button;
}

.note:hover {
    color: #daeeff;
}

#files {
    height: 90%;
    min-height: 40%;
    position: absolute;
    overflow-x: hidden;
    list-style: none;
    width: 100%;
    margin-top: 50px;
    left: -22px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
}

#addNoteButton {
    position: relative;
    text-align: center;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    top: 90%;
    height: 10%;
}

.brand {
    height: 5%;
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    position: absolute;
}

.selected_note {
    color: orange;
}



